<!-- templates/current_battle.html -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Nova's Expanse</title>
  <!-- Add your CSS files here -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Rewards</h1>
<br>
<br>
<br>
<br>
<footer>
    <div style="margin-left: 10px;">
    <p>© 2023 Nova's Expanse</p>
    </div>
</footer>

</body>

    
</html>
